<ul>
  <% @users.each do |user| %>
  <li>
    <%= user[:name] %>
    <ul>
      <li>
        email : <%= user[:email] %>
      </li>
      <li>
        Address : <%= user[:address] %>
        <li>
          CC Number : <%= user[:cc_number] %>
        </li>
        <li>
          Date Joined : <%= user[:date_joined] %>
        </li>
      </li>
    </ul>
  </li>
  <% end %>
</ul>
